body {
  margin: 0;
  padding: 0;
}


#tela {
  width: 700px;
  height: 500 px;
  border: 1px solid;
}

#canvas {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}


.container {
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100vw;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.tools {
  height: 500px;
  width: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  border-left: none;
  background-color: rgb(225, 225, 225);
}



.colors {
  height: 30px;
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.size {
  cursor: pointer;
}